<h1>HackerNews Posts</h1>
<% if @posts %>
  <% @posts.each do |post| %>
  <a href="/posts/<%= post.id %>"><h3><%= post.title %></h3></a><br>
    Created by:<%= post.user.username %> <br>
    <form action="/posts/<%= post.id %>/edit" method="get">
    <input type="submit" value="Edit">
    </form>
    <%= link_to 'DELETE', post_path(post), :method => :delete, :confirm => "Are you sure?" %>
  <% end %>
<% end %>
